@model WebAccountantApp.Models.CreateAccountVM


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Create Account</h3>
    </div>
    <div class="card-body">
        <div class="container">
                <form asp-controller="Account" asp-action="Create">
                    <div class="row">
                        <div class="col-sm">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <label asp-for="Account.Name" class="control-label"></label>
                            <input asp-for="Account.Name" class="form-control" />
                            <span asp-validation-for="Account.Name" class="text-danger"></span>


                        </div>
                        <div class="col-sm">

                            <label asp-for="Account.Value" class="control-label"></label>
                            <input asp-for="Account.Value" class="form-control" />
                            <span asp-validation-for="Account.Value" class="text-danger"></span>

                        </div>
                        <div class="col-sm">
                            <label asp-for="Account.AccountType" class="control-label"></label>
                            <select asp-for="Account.AccountType" class="form-control">
                                @foreach (var type in Model.AccountTypes)
                                {
                                    <option>@type</option>
                                }
                            </select>
                            <span asp-validation-for="Account.AccountType" class="text-danger"></span>

                        </div>
                        <div class="col-sm">
                            <hr class="invisible" />
                            <input type="submit" value="Create" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                </form>
            
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
